[MASTER]
init-hook='import sys; sys.path.append(".")'
[MESSAGES CONTROL]
disable=missing-docstring,too-few-public-methods,invalid-name,unnecessary-comprehension,import-outside-toplevel,import-error,wrong-import-order,unnecessary-pass,unused-argument
[FORMAT]
max-line-length=100
